*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10px */ }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

/* ANIMATION FOR UP ARROW BUTTON */
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(170, 40, 148, 0.99); }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0); }
  100% {
    box-shadow: 0 0 0 3rem rgba(146, 55, 123, 0); } }

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1); }
  25% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9); }
  26% {
    opacity: 0;
    transform: translateY(10px) scale(0.9); }
  55% {
    opacity: 1;
    transform: translateY(0px) scale(1); } }

/* ANIMATION FOR HEADER SECTION BACKGROUND */
@keyframes gradientBG {
  0% {
    background-position: 50% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 50% 0%; } }

/* ANIMATION FOR BORDER PART BACKGROUND OF HEADER SECTION */
@keyframes Gradient {
  0% {
    background-position: 40% 50%; }
  50% {
    background-position: 25% 50%; }
  100% {
    background-position: 40% 50%; } }

/* TITLE POSITION */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8rem; }

/* 
0 - 375px:           Mobile-portrait (IPhone 6,7,8,X)

375 - 414px:         Mobile-portrait-plus (IPhone 6,7,8 plus)

414 - 768px:         Mobile-landscape 

768 - 834px:         Tablet-portrait 

834 - 1024px:        Tablet-portrait-pro

1024 - 1112px:       Tablet-landscape

1112 - 1366px:       Tablet-landscape-pro

1366 - 1440px:       Laptop displays

[1440 - 1680] is where our normal styles apply

1680 - 1920px:       Desktop displays 

1920px + :            Big Desktop
*/
/* BUTTON CLICK ME */
.btn-click {
  text-decoration: none;
  font-size: 2rem;
  /* text-align: center; */
  width: 15rem;
  height: 5rem;
  margin-top: 5rem;
  font-size: 2rem;
  color: #d3d7de;
  box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem; }

@media (min-width: 1920px) {
  .btn-click {
    font-size: 2.2rem;
    width: 16rem;
    height: 6rem;
    margin-top: 4rem; } }

@media (max-width: 1112px) {
  .btn-click {
    font-size: 2.3rem;
    width: 15.5rem;
    height: 5.5rem;
    margin-top: 3rem; } }

@media (max-width: 414px) {
  .btn-click {
    font-size: 2.1rem;
    width: 14rem;
    height: 4.5rem;
    margin-top: 5rem; } }

.btn-click:hover {
  text-shadow: 0px 0px 6px white;
  border: 2px solid #91c0c0;
  border-radius: 2rem;
  transition: all 0.3s ease 0s; }

.btn-click:active {
  text-shadow: 0px 0px 6px white;
  border: 2px solid #91c0c0;
  transform: translateY(5px); }

/* BUTTON VIEW & GITHUB */
@media (max-width: 768px) {
  .btn {
    margin-left: 0; } }

@media (max-width: 414px) {
  .btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative; }
  .btn::before, .btn::after {
    content: '';
    position: absolute;
    bottom: -7rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75); }
  .btn::before {
    width: 12rem;
    height: .3rem;
    border-radius: .8rem; }
  .btn::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -7.6rem; } }

/* BUTTON VIEW */
.btn-view {
  width: 10rem;
  height: 4rem;
  margin-bottom: 2rem;
  border: 2px solid;
  border-radius: .7rem;
  cursor: pointer;
  outline: 0;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFFFFF; }

.btn-view:hover {
  box-shadow: 2px 3px #333131; }

.btn-view:active {
  transform: translateY(2px); }

.btn-view.red {
  background: #d02e17;
  border-color: #942110 #902010 #741a0d;
  background-image: -webkit-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  background-image: -moz-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  background-image: -o-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  background-image: linear-gradient(to bottom, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%); }

.btn-view.red:before {
  background: #ee442c;
  background-image: -webkit-linear-gradient(top, #b32511, #f3533c);
  background-image: -moz-linear-gradient(top, #b32511, #f3533c);
  background-image: -o-linear-gradient(top, #b32511, #f3533c);
  background-image: linear-gradient(to bottom, #b32511, #f3533c); }

.btn-view.red:active {
  background: #e63b1b;
  background-image: -webkit-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
  background-image: -moz-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
  background-image: -o-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
  background-image: linear-gradient(to bottom, #a9110b 0%, #de3819 60%, #e63b1b 100%); }

.btn-view.red:active:after {
  border-color: #e63b1b; }

@media (max-width: 414px) {
  .btn-view {
    margin-bottom: 0;
    margin-right: 2rem; } }

/* BUTTON GITHUB */
.btn-link {
  width: 10rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8241c;
  border: 2px solid #ca3030;
  border-radius: .7rem;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFF; }

.btn-link:hover {
  background-color: #DA4F49;
  border-color: 2px solid #DA4F49;
  box-shadow: 2px 3px #333131; }

.btn-link:active {
  background-color: #B32C24;
  border-color: 2px solid #DA4F49;
  transform: translateY(2px); }

/* BUTTON SEND */
.btn-send {
  width: 12rem;
  height: 4.5rem;
  font-size: 2rem;
  border-radius: 4px;
  background: linear-gradient(to right, #7fc0b8, #1bb4a2);
  border: none;
  box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  color: #FFFFFF;
  transition: all 0.4s;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s;
  float: right; }

.btn-send:hover {
  box-shadow: 4px 8px #3a7999; }

.btn-send:active {
  transform: translateY(3px);
  box-shadow: 5px 9px #3a7999; }

@media (max-width: 1112px) {
  .btn-send {
    margin-top: 2rem; } }

@media (max-width: 834px) {
  .btn-send {
    margin-top: 1rem; } }

/* UP ARROW BUTTON */
.up-arrow {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: -28%;
  right: 8%;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: shadow-pulse 1.2s infinite; }

.up-arrow:hover .arrow-icon {
  animation: bounceAlpha 0.8s infinite;
  cursor: pointer; }

.arrow-icon {
  font-size: 2.5rem;
  color: #702970;
  text-shadow: 1px 1px 8px white; }

.form {
  width: 40%; }

.label-form {
  font-size: 2rem;
  color: white; }

.form-input {
  color: #222932;
  width: 100%;
  padding: .5rem 1rem;
  margin: .5rem 0;
  font-size: 1.5rem;
  border: 0;
  border-radius: 1rem;
  border-bottom: 5px solid transparent;
  transition: all .2s;
  outline: 0; }

.input-height {
  height: 4rem; }

.message-box {
  height: 15rem; }

@media (max-width: 1366px) {
  .form {
    width: 45%; } }

@media (max-width: 1112px) {
  .form {
    width: 50%; } }

@media (max-width: 834px) {
  .form {
    width: 55%; } }

@media (max-width: 768px) {
  .form {
    width: 60%; } }

@media (max-width: 516px) {
  .form {
    width: 75%; } }

@media (max-width: 414px) {
  .form {
    width: 85%; } }

/* NAVIGATION */
.navigation {
  width: 45%;
  height: 6vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  box-shadow: 0 1rem 1rem rgba(4, 26, 62, 0.5);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: 1rem; }

.nav-list {
  list-style: none;
  display: flex; }

.nav-link {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: #5d6a75;
  margin: 5rem; }

.nav-link:hover {
  color: #7eb9be; }

@media (min-width: 1920px) {
  .navigation {
    width: 40%; }
  .nav-link {
    font-size: 3.5rem; } }

@media (max-width: 1440px) {
  .navigation {
    width: 50%; } }

@media (max-width: 1366px) {
  .nav-link {
    margin: 4.5rem; } }

@media (max-width: 1112px) {
  .navigation {
    width: 55%; }
  .nav-link {
    margin: 4rem; } }

@media (max-width: 1024px) {
  .navigation {
    width: 60%; }
  .nav-link {
    margin: 3.5rem; } }

@media (max-width: 834px) {
  .navigation {
    width: 65%; }
  .nav-link {
    margin: 3rem; } }

@media (max-width: 768px) {
  .navigation {
    width: 70%; }
  .nav-link {
    margin: 2.5rem; } }

@media (max-width: 696px) {
  .navigation {
    width: 75%; }
  .nav-link {
    font-size: 2.5rem; } }

@media (max-width: 516px) {
  .navigation {
    visibility: hidden; } }

/* PROJECT CARD CONTAINER */
.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* EVERY PROJECT CARD */
.card {
  width: 90%;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.project-view {
  width: 55%;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.card-img {
  width: 100%;
  height: 100%;
  position: relative; }

.img-style {
  width: 25rem;
  height: 15rem;
  background-size: cover;
  background-position: center;
  position: absolute;
  border: 0.2rem solid #58060a; }

.img-1 {
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 50; }

.img-2 {
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: 30; }

.img-3 {
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 10; }

/* PROJECT DESCRIPTION */
.card-desc {
  width: 35%;
  font-size: 2rem;
  margin-left: 10rem;
  color: black;
  padding: 2rem 0 10rem 0;
  text-align: center; }

.card-title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #9e2a30; }

@media (min-width: 1680px) {
  .card-desc {
    font-size: 2.2rem; } }

@media (max-width: 1440px) {
  .card-img {
    width: 80%; } }

@media (max-width: 1112px) {
  .card {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 3rem 0; }
  .project-view {
    width: 100%;
    order: 1; }
  .card-img {
    width: 60%;
    margin: 0 0 0 -5rem; }
  .img-1 {
    top: 60%; }
  .img-2 {
    top: 40%;
    left: 60%; }
  .card-desc {
    width: 90%;
    padding: 0;
    margin: 0 0 5rem 3rem;
    font-size: 2.5rem;
    letter-spacing: 0.1rem; } }

@media (max-width: 1024px) {
  .img-1 {
    top: 65%; } }

@media (max-width: 834px) {
  .card-img {
    margin: 0 3rem 0 -2rem; }
  .card-desc {
    margin: 0 0 8rem 3rem; }
  .img-1 {
    top: 60%; } }

@media (max-width: 768px) {
  .card {
    margin: 0 0 4rem 0; }
  .card-title {
    font-size: 3.5rem; }
  .img-style {
    width: 25rem;
    height: 15rem; }
  .img-2 {
    left: 65%; }
  .card-desc {
    width: 80%;
    margin: 0 0 1rem 0;
    font-size: 2rem; } }

@media (max-width: 516px) {
  .card {
    margin: 0; }
  .img-style {
    width: 18rem;
    height: 11rem; }
  .img-1 {
    top: 54%; }
  .img-2 {
    top: 38%;
    left: 70%; } }

@media (max-width: 414px) {
  .card {
    margin: 0 0 10rem 0; }
  .card-desc {
    width: 100%;
    padding: 0 4rem;
    margin: 0 0 2rem 0; }
  .card-title {
    font-size: 3.5rem;
    margin-bottom: 2rem; }
  .project-view {
    flex-direction: column; }
  .card-img {
    width: 100%;
    height: 80%;
    margin: 0 0 0 2rem; }
  .img-1 {
    top: 55%; } }

@media (max-width: 320px) {
  .card {
    margin-bottom: 4rem; }
  .card-title {
    font-size: 3rem; }
  .project-view {
    justify-content: flex-start; }
  .card-desc {
    font-size: 1.5rem; }
  .img-style {
    width: 15rem;
    height: 9rem; }
  .card-img {
    height: 60%; }
  .img-2 {
    left: 65%; } }

/* LINE BREAK */
.line-break {
  width: 15rem;
  height: .6rem;
  border-radius: .8rem;
  background: #f0e8e8;
  position: relative;
  z-index: 10; }

.line-break::before {
  content: '';
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  background: #fdfdfd;
  position: absolute;
  top: -130%;
  left: 43%;
  z-index: 0; }

@media (max-width: 1112px) {
  .line-break {
    margin-bottom: 7rem; } }

@media (max-width: 414px) {
  .line-break {
    visibility: hidden;
    margin-bottom: 0; } }

/* SKILLS BAR CONTAINER */
.container {
  width: 50%;
  margin-top: 7rem; }

/* EVERY SKILL BAR */
.skills-bar {
  width: 100%;
  height: 3.5rem;
  position: relative;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  display: flex;
  color: white;
  margin-bottom: 2rem; }

.bar-name {
  width: 21%;
  background-image: linear-gradient(to right, #9b5886 0%, #ad3780 100%);
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-bar-fill {
  width: 100%;
  height: 100%; }

.bar-fill {
  height: 100%;
  background-image: linear-gradient(to top, #b7accc 0%, #7753bb 100%); }

@media (min-width: 1920px) {
  .skills-bar {
    height: 5rem; }
  .bar-name {
    font-size: 2rem; } }

@media (max-width: 1440px) {
  .bar-name {
    width: 26%;
    font-size: 1.8rem; } }

@media (max-width: 1366px) {
  .container {
    width: 60%; } }

@media (max-width: 1112px) {
  .bar-name {
    width: 30%; } }

@media (max-width: 1024px) {
  .bar-name {
    width: 35%; } }

@media (max-width: 834px) {
  .container {
    width: 70%; } }

@media (max-width: 768px) {
  .container {
    width: 75%; }
  .bar-name {
    width: 35%; } }

@media (max-width: 516px) {
  .bar-name {
    width: 40%;
    font-size: 1.6rem; }
  .skills-bar {
    height: 3rem; } }

@media (max-width: 414px) {
  .container {
    width: 80%; }
  .skills-bar {
    height: 2.5rem; }
  .bar-name {
    width: 50%;
    font-size: 1.5rem; } }

@media (max-width: 375px) {
  .container {
    width: 85%; }
  .skills-bar {
    height: 2rem; }
  .bar-name {
    width: 40%;
    font-size: 1.4rem; } }

@media (max-width: 320px) {
  .container {
    width: 90%; }
  .bar-name {
    font-size: 1rem; } }

/* LOGO */
.logo-container {
  width: 50%;
  height: 10rem;
  position: absolute;
  top: 85%;
  left: 53%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center; }

.logo {
  margin: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.htmlcssjs {
  width: 8rem;
  height: 7rem; }

.wordpress-logo {
  font-size: 6.5rem;
  color: #0a496d;
  box-shadow: 0 0 6rem #278eca, inset 0 0 6rem #91c0db; }

.react-logo {
  font-size: 6.5rem;
  color: #03f4fc;
  margin-bottom: -0.5rem;
  box-shadow: 0 0 6rem #35dfe8, inset 0 0 6rem #35dfe8; }

@media (min-width: 1920px) {
  .wordpress-logo {
    font-size: 7.5rem; }
  .react-logo {
    font-size: 7.5rem; } }

@media (max-width: 1112px) {
  .logo-container {
    width: 70%; } }

@media (max-width: 918px) {
  .logo-container {
    width: 85%; }
  .logo {
    margin: 7rem; } }

@media (max-width: 700px) {
  .logo-container {
    width: 90%;
    left: 50%; }
  .logo {
    margin: 5rem; }
  .htmlcssjs {
    width: 6.5rem;
    height: 6.5rem; } }

@media (max-width: 516px) {
  .logo-container {
    width: 100%; }
  .logo {
    margin: 4rem; }
  .wordpress-logo {
    font-size: 5rem; }
  .react-logo {
    font-size: 5rem; }
  .htmlcssjs {
    width: 6rem;
    height: 6rem; } }

@media (max-width: 414px) {
  .logo {
    margin: 4.5rem; }
  .htmlcssjs {
    width: 5rem;
    height: 5rem; } }

@media (max-width: 375px) {
  .logo {
    margin: 4rem; }
  .react-logo {
    font-size: 5rem;
    margin-left: -1rem; }
  .wordpress-logo {
    font-size: 5rem; }
  .htmlcssjs {
    width: 5.5rem;
    height: 5.5rem; } }

@media (max-width: 320px) {
  .logo {
    margin: 3rem; }
  .react-logo {
    font-size: 4.5rem; }
  .wordpress-logo {
    font-size: 4.5rem; }
  .htmlcssjs {
    width: 5rem;
    height: 5rem; } }

/* HAMBURGER BUTTON - apply for mobile version 414px */
.ham-btn {
  position: fixed;
  top: 1%;
  right: 5%;
  width: 6rem;
  height: 5rem;
  padding: .4rem .8rem;
  background: #364652;
  z-index: 200;
  visibility: hidden; }

.ham-btn span {
  width: 100%;
  height: .4rem;
  display: block;
  background: #fff;
  margin: .7rem 0;
  transition: .5s; }

.toggle-menu {
  width: 100%;
  height: 100vh;
  background: #364652;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 101;
  opacity: 0.5;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  position: absolute; }

.toggle-menu a {
  color: #fff;
  font-size: 3.5rem; }

.ham-btn.active span {
  position: absolute;
  width: calc(100% - 1.6rem);
  top: calc(50% - .8rem); }

.ham-btn.active span:nth-child(1) {
  transform: rotate(45deg); }

.ham-btn.active span:nth-child(3) {
  transform: rotate(-45deg); }

.ham-btn.active span:nth-child(2) {
  display: none; }

.toggle-menu.active {
  opacity: 1;
  transform: none;
  -webkit-transform: none;
  -o-transform: none; }

@media (max-width: 516px) {
  .ham-btn {
    visibility: visible;
    right: 2%; } }

@media (max-width: 375px) {
  .ham-btn {
    width: 5rem;
    height: 4rem; }
  .ham-btn span {
    height: .3rem; } }

/* HEADER */
.header {
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite; }

/* SECTION ABOUT */
.section-about {
  width: 100%;
  padding-bottom: 3rem;
  position: relative;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); }

/* SECTION PROJECT */
.section-project {
  width: 100%;
  height: 220rem;
  position: relative;
  background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  z-index: 10; }

@media (min-width: 1680px) {
  .section-project {
    height: 223rem; } }

@media (max-width: 1112px) {
  .section-project {
    height: 285rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); } }

@media (max-width: 1024px) {
  .section-project {
    height: 295rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%); } }

@media (max-width: 834px) {
  .section-project {
    height: 310rem; } }

@media (max-width: 768px) {
  .section-project {
    height: 278rem; } }

@media (max-width: 516px) {
  .section-project {
    height: 270rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%); } }

@media (max-width: 414px) {
  .section-project {
    height: 285rem; } }

@media (max-width: 375px) {
  .section-project {
    height: 290rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 99%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 99%, 0 100%); } }

@media (max-width: 320px) {
  .section-project {
    height: 250rem; } }

/* SECTION CONTACT */
.section-contact {
  width: 100%;
  height: 85rem;
  margin-top: -16rem;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  position: relative;
  z-index: 2; }

.position-contact {
  width: 100%;
  position: absolute;
  top: 8rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (max-width: 1112px) {
  .position-contact {
    top: 13rem; } }

@media (max-width: 1024px) {
  .position-contact {
    top: 14rem; } }

@media (max-width: 834px) {
  .section-contact {
    height: 85rem; }
  .position-contact {
    top: 14rem; } }

@media (max-width: 414px) {
  .section-contact {
    height: 85rem; }
  .position-contact {
    top: 16rem; } }

/* FOOTER */
.footer {
  width: 100%;
  height: 12rem;
  background-color: #373b4d;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

@media (max-width: 414px) {
  .footer {
    height: 14rem; } }

.header-text-box {
  width: 70%;
  height: 40rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header-text {
  font-family: 'Lato', sans-serif;
  color: #fff; }

.border {
  width: 100%;
  padding: 0;
  background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #C5E7D7 34%, #88d8b0 34%);
  background-size: 400% 400%;
  height: 40rem;
  background-position: 25% 50%;
  animation: Gradient 15s ease infinite;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem; }

.inner {
  padding: 2rem;
  background-color: #ff6f69;
  /*#ff6f69*/
  margin: 3rem;
  border-radius: 3rem;
  width: 100%;
  height: 35rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

@keyframes shad-anim {
  0% {
    background-position: 0 0; }
  0% {
    background-position: 100% -100%; } }

.heading-main {
  font-size: 5rem;
  letter-spacing: 0.5rem; }

.heading-sub {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-top: 3rem; }

@media (min-width: 1920px) {
  .heading-main {
    font-size: 6rem;
    letter-spacing: 1.5rem; }
  .heading-sub {
    font-size: 3.5rem;
    letter-spacing: 1rem; } }

@media (max-width: 1366px) {
  .header-text-box {
    width: 80%; } }

@media (max-width: 1024px) {
  .header-text-box {
    width: 90%; } }

@media (max-width: 918px) {
  .heading-main {
    font-size: 4rem;
    letter-spacing: 0.3rem; }
  .heading-sub {
    font-size: 2.5rem;
    letter-spacing: 0.3rem; } }

@media (max-width: 768px) {
  .header-text-box {
    width: 95%; } }

@media (max-width: 696px) {
  .heading-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem; }
  .header-text {
    padding-left: 3rem; } }

@media (max-width: 516px) {
  .header-text-box {
    width: 100%; }
  .border {
    background: transparent;
    margin-left: 0; }
  .inner {
    background: transparent;
    padding: 0;
    margin: 0; }
  .header-text {
    margin-bottom: 3rem; } }

@media (max-width: 414px) {
  .header-text-box {
    top: 50%; }
  .header-text {
    width: 90%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-left: 0; }
  .heading-main {
    font-size: 3rem;
    letter-spacing: 0.2rem; }
  .heading-sub {
    width: 100%;
    font-size: 2rem; } }

@media (max-width: 375px) {
  .heading-main {
    letter-spacing: 0.1rem; } }

@media (max-width: 320px) {
  .header-text-box {
    top: 43%; } }

/* ABOUT HEADER PART */
.about-header {
  width: 100%;
  height: 18rem;
  margin-bottom: 3rem;
  text-align: center;
  position: relative; }

.about-title {
  font-size: 4.5rem;
  color: #FFF;
  text-shadow: 1px 1px #FF8040, 2px 2px #FF8040, 3px 3px #FF8040;
  font: Bold 5rem; }

.about-bar {
  width: 11rem;
  height: .4rem;
  position: absolute;
  top: 72%;
  left: 52%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to right, white, #FF8040); }

@media (min-width: 1920px) {
  .about-title {
    font-size: 6rem; }
  .about-bar {
    top: 75%; } }

@media (max-width: 1366px) {
  .about-header {
    margin-bottom: 6rem; } }

@media (max-width: 1112px) {
  .about-header {
    margin-bottom: 2rem; } }

@media (max-width: 414px) {
  .about-header {
    height: 15rem;
    margin-bottom: 0; }
  .about-title {
    font-size: 4rem; }
  .about-bar {
    width: 10rem;
    height: .3rem;
    left: 55%; } }

/* DESCRIPTION */
.about-desc {
  width: calc(100% - 14%);
  padding: 3rem 0 3rem 0;
  margin-left: 7%;
  border-radius: 20rem 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  transform: skewY(-5deg);
  box-shadow: 0 0 60px #7ac2d8, inset 0 0 60px #367e88;
  overflow: hidden; }

.profile-picture {
  width: 33rem;
  height: 33rem;
  border-radius: 50%;
  background-image: url("../img/Profile_picture.jpg");
  background-position: 30% 45%;
  transform: skewY(5deg);
  margin-right: 2rem; }

.about-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 5rem;
  color: #27302f;
  transform: skewY(5deg);
  margin-top: 3rem;
  margin-left: 5rem; }

@media (min-width: 1920px) {
  .about-text {
    font-size: 2.8rem;
    line-height: 6rem; }
  .profile-picture {
    width: 45rem;
    height: 45rem;
    background-position: 20% 60%; } }

@media (min-width: 1680px) {
  .about-text {
    font-size: 2.2rem;
    margin-top: 2rem; } }

@media (max-width: 1440px) {
  .about-text {
    line-height: 5rem; } }

@media (max-width: 1366px) {
  .profile-picture {
    width: 32rem;
    height: 32rem;
    background-position: 30% 40%; }
  .about-desc {
    width: calc(100% - 10%);
    margin-left: 5%; }
  .about-text {
    font-size: 2.1rem;
    line-height: 4.5rem; } }

@media (max-width: 1112px) {
  .about-desc {
    width: 100%;
    margin-left: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: none;
    box-shadow: none;
    transform: skewY(0deg);
    border-radius: 0px !important; }
  .profile-picture {
    width: 40rem;
    height: 40rem;
    margin: 0 0 5rem 2rem;
    background-position: 25% 50%;
    transform: skewY(0deg); }
  .about-text {
    width: 60%;
    margin-left: 2rem;
    font-size: 2.5rem;
    line-height: 6rem;
    transform: skewY(0deg); } }

@media (max-width: 834px) {
  .about-text {
    width: 70%; } }

@media (max-width: 768px) {
  .about-text {
    width: 80%; } }

@media (max-width: 516px) {
  .profile-picture {
    width: 35rem;
    height: 35rem;
    background-position: 25% 45%; }
  .about-text {
    font-size: 2.3rem;
    line-height: 5rem; } }

@media (max-width: 414px) {
  .profile-picture {
    width: 25rem;
    height: 25rem;
    background-position: 35% 35%;
    margin-left: 0rem; }
  .about-text {
    font-size: 2rem;
    line-height: 4rem;
    margin: 0; } }

@media (max-width: 320px) {
  .profile-picture {
    width: 20rem;
    height: 20rem;
    background-position: 36% 31%;
    margin-bottom: 4rem; }
  .about-text {
    width: 90%; } }

/* SKILLS PART */
.skills {
  width: 100%;
  margin-top: 10rem;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.skills-heading {
  width: 100%;
  height: 5rem;
  color: black;
  text-shadow: 1px 1px #f0e5e5, 2px 2px white, 3px 3px white;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem; }

@media (min-width: 1920px) {
  .skills-heading {
    font-size: 4rem; } }

@media (max-width: 1440px) {
  .skills-heading {
    font-size: 3.2rem; } }

@media (max-width: 1112px) {
  .skills {
    margin-top: 2rem; } }

@media (max-width: 414px) {
  .skills-heading {
    font-size: 3rem;
    letter-spacing: 0.6rem; } }

.project-header {
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
  position: relative; }

.project-title {
  color: #FFF;
  text-shadow: 1px 1px #bd656a, 2px 2px #9e2a30, 3px 3px #a81b22;
  font: Bold 5rem;
  font-size: 4rem; }

.project-bar {
  width: 12rem;
  height: 4px;
  position: absolute;
  top: 70%;
  left: 52%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to right, white, #9e2a30); }

@media (min-width: 1920px) {
  .project-title {
    font-size: 5rem; }
  .project-bar {
    top: 75%; } }

@media (max-width: 1112px) {
  .project-header {
    margin-bottom: 2rem; } }

@media (max-width: 414px) {
  .project-header {
    height: 15rem; }
  .project-title {
    font-size: 3.5rem; }
  .project-bar {
    width: 11rem;
    top: 71%;
    left: 55%; } }

@media (max-width: 320px) {
  .project-title {
    font-size: 3rem; } }

.contact-header {
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
  position: relative; }

.contact-title {
  font-size: 4rem;
  color: #a3c2c2;
  text-shadow: 1.5px 1.5px #141f1f, 2.5px 2.5px #141f1f, 3.5px 3.5px #141f1f;
  font: Bold 5rem; }

.contact-bar {
  width: 12rem;
  height: 4px;
  position: absolute;
  top: 70%;
  left: 52%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(#a3c2c2, #141f1f); }

.contact-text {
  height: 5rem;
  color: #f3ecec;
  font-size: 2rem;
  text-align: center; }

@media (max-width: 1112px) {
  .contact-header {
    height: 15rem; } }

@media (max-width: 414px) {
  .contact-header {
    height: 12rem; }
  .contact-title {
    font-size: 3.5rem; }
  .contact-bar {
    top: 75%;
    left: 57%; } }

.socialmedia {
  width: 50rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.icon {
  font-size: 5rem;
  color: #967e7e;
  margin-right: 5rem;
  margin-left: 3rem; }

.copyright {
  margin-top: -0.5rem;
  font-size: 2rem;
  text-align: center; }

@media (max-width: 414px) {
  .socialmedia {
    width: 90%;
    margin-left: 2rem; } }
