*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10px */ }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

/* ANIMATION FOR GLOBE */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

/* ANIMATION FOR UP ARROW BUTTON */
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(170, 40, 148, 0.99); }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0); }
  100% {
    box-shadow: 0 0 0 3rem rgba(146, 55, 123, 0); } }

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1); }
  25% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9); }
  26% {
    opacity: 0;
    transform: translateY(10px) scale(0.9); }
  55% {
    opacity: 1;
    transform: translateY(0px) scale(1); } }

/* TITLE POSITION */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8rem; }

/* 
0 - 375px:           Mobile-portrait (IPhone 6,7,8,X)

375 - 414px:         Mobile-portrait-plus (IPhone 6,7,8 plus)

414 - 768px:         Mobile-landscape 

768 - 834px:         Tablet-portrait 

834 - 1024px:        Tablet-portrait-pro

1024 - 1112px:       Tablet-landscape

1112 - 1366px:       Tablet-landscape-pro

1366 - 1440px:       Laptop displays

[1440 - 1680] is where our normal styles apply

1680 - 1920px:       Desktop displays 

1920px + :            Big Desktop
*/
/* BUTTON CLICK ME */
.btn-click {
  text-decoration: none;
  font-size: 2rem;
  /* text-align: center; */
  width: 15rem;
  height: 5rem;
  margin-top: 5rem;
  font-size: 2rem;
  color: #d3d7de;
  /*background: linear-gradient(from top to bottom, #cfae88 0%, #da9d2c 100%);*/
  /* box-shadow: 0 0 60px #5b7979, inset 0 0 60px #5b7e7d; */
  box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem; }

@media (min-width: 1920px) {
  .btn-click {
    font-size: 2.5rem;
    width: 16rem;
    height: 6rem;
    margin-top: 4.5rem; } }

.btn-click:hover {
  text-shadow: 0px 0px 6px white;
  /* box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); */
  border: 2px solid #91c0c0;
  /*box-shadow: 0 0 60px #23d5ab, inset 0 0 60px #ee7752;*/
  /* box-shadow: 2px 3px rgb(54, 51, 51); */
  border-radius: 2rem;
  transition: all 0.3s ease 0s; }

.btn-click:active {
  text-shadow: 0px 0px 6px white;
  border: 2px solid #91c0c0;
  /*box-shadow: 0 0 60px #5b7979, inset 0 0 60px #5b7e7d;*/
  transform: translateY(5px); }

/* BUTTON VIEW & GITHUB */
.btn {
  width: 11rem;
  height: 15rem;
  margin-left: -2rem; }

/* BUTTON VIEW */
.btn-view {
  width: 100%;
  height: 5rem;
  margin-bottom: 2rem;
  border: 2px solid;
  border-radius: 7px;
  cursor: pointer;
  outline: 0;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFFFFF; }

.btn-view:hover {
  box-shadow: 2px 3px #333131; }

.btn-view:active {
  transform: translateY(2px); }

.btn-view.red {
  background: #d02e17;
  border-color: #942110 #902010 #741a0d;
  background-image: -webkit-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  background-image: -moz-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  background-image: -o-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  background-image: linear-gradient(to bottom, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%); }

.btn-view.red:before {
  background: #ee442c;
  background-image: -webkit-linear-gradient(top, #b32511, #f3533c);
  background-image: -moz-linear-gradient(top, #b32511, #f3533c);
  background-image: -o-linear-gradient(top, #b32511, #f3533c);
  background-image: linear-gradient(to bottom, #b32511, #f3533c); }

.btn-view.red:active {
  background: #e63b1b;
  background-image: -webkit-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
  background-image: -moz-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
  background-image: -o-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
  background-image: linear-gradient(to bottom, #a9110b 0%, #de3819 60%, #e63b1b 100%); }

.btn-view.red:active:after {
  border-color: #e63b1b; }

/* BUTTON GITHUB */
.btn-link {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E48681;
  border-color: 2px solid #E48681;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFF; }

.btn-link:hover {
  background-color: #DA4F49;
  border-color: 2px solid #DA4F49;
  box-shadow: 2px 3px #333131; }

.btn-link:active {
  background-color: #B32C24;
  border-color: 2px solid #DA4F49;
  transform: translateY(2px); }

/* BUTTON SEND */
.btn-send {
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 4px;
  background: linear-gradient(to right, #67b26b, #4ca2cb);
  border: none;
  color: #FFFFFF;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  transition: all 0.3s; }

.btn-send:hover {
  box-shadow: 4px 8px #3a7999; }

.btn-send:active {
  transform: translateY(3px);
  box-shadow: 5px 9px #3a7999; }

/* UP ARROW BUTTON */
.up-arrow {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: -28%;
  right: 8%;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  /* background-image: linear-gradient(to top, #639ddf 0%, #fbc2eb 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: shadow-pulse 1.2s infinite; }

.up-arrow:hover .arrow-icon {
  animation: bounceAlpha 0.8s infinite;
  cursor: pointer; }

.arrow-icon {
  font-size: 2.5rem;
  color: #702970;
  /* color: #295070; */
  text-shadow: 1px 1px 8px white; }

.form {
  width: calc(100% - 100rem);
  height: 45rem;
  margin-left: 50rem; }

.label-form {
  font-size: 2rem;
  color: white; }

.form-input {
  color: #222932;
  width: 100%;
  padding: .5rem 1rem;
  margin: .5rem 0;
  font-size: 1.5rem;
  border: 0;
  border-radius: 1rem;
  border-bottom: 5px solid transparent;
  transition: all .2s;
  outline: 0; }

.input-height {
  height: 4rem; }

.message-box {
  height: 15rem; }

@media (max-width: 1440px) {
  .form {
    width: calc(100% - 90rem);
    margin-left: 45rem; } }

/* GLOBE */
.view {
  position: absolute;
  top: -15%;
  left: 0;
  right: 0;
  bottom: 35rem;
  -webkit-perspective: 400;
  perspective: 400;
  z-index: 1; }

.plane {
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(60deg) rotateZ(-30deg);
  transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
  animation: rotate 20s infinite linear; }

.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px #254041, inset 0 0 60px #254041; }

.plane.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: #254041;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px #254041; }

.plane.main .circle::before {
  -webkit-transform: translateZ(-90px);
  transform: translateZ(-90px); }

.plane.main .circle::after {
  -webkit-transform: translateZ(90px);
  transform: translateZ(90px); }

.plane.main .circle:nth-child(1) {
  -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
  transform: rotateZ(72deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(2) {
  -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
  transform: rotateZ(144deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(3) {
  -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
  transform: rotateZ(216deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(4) {
  -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
  transform: rotateZ(288deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(5) {
  -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
  transform: rotateZ(360deg) rotateX(63.435deg); }

/* NAVIGATION */
.navigation {
  width: 45%;
  height: 6vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  box-shadow: 0 1rem 1rem rgba(4, 26, 62, 0.5);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: 1rem; }

.nav-list {
  list-style: none;
  display: flex; }

.nav-link {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  /*color: #544738;*/
  color: #5d6a75;
  margin: 5rem; }

.nav-link:hover {
  color: #7eb9be; }

@media (min-width: 1920px) {
  .navigation {
    width: 40%; }
  .nav-link {
    font-size: 3.5rem; } }

@media (max-width: 1440px) {
  .navigation {
    width: 50%; } }

@media (max-width: 1366px) {
  .nav-link {
    margin: 4.5rem; } }

/* PROJECT CARD CONTAINER */
.card-container {
  width: 100%;
  /* background-color: grey; */
  /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */ }

/* EVERY PROJECT CARD */
.card {
  width: calc(100% - 20rem);
  height: 40rem;
  margin-left: 10rem;
  margin-bottom: 5rem;
  /* background-color: orange; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center; }

.project-view {
  width: 65%;
  height: 35rem;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center; }

.card-img {
  width: 60rem;
  height: 100%;
  position: relative;
  /* background-color: rosybrown; */
  margin: 0 5rem 0 -2rem; }

.img-style {
  width: 30rem;
  height: 20rem;
  background-size: cover;
  background-position: center;
  position: absolute; }

.img-1 {
  top: 70%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 50;
  border: 0.5rem solid #312d2d; }

.img-2 {
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 30;
  border: 0.5rem solid #312d2d; }

.img-3 {
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: 0.5rem solid #312d2d; }

/* PROJECT DESCRIPTION */
.card-desc {
  width: 35%;
  height: 35rem;
  font-size: 2rem;
  color: black;
  padding: 8rem 0 10rem 0;
  margin-left: 5rem; }

/* SKILLS BAR CONTAINER */
.container {
  width: 50%;
  margin-top: 7rem; }

/* EVERY SKILL BAR */
.skills-bar {
  width: 100%;
  height: 4rem;
  position: relative;
  /* background-color: #d4f0f5; */
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  display: flex;
  color: white;
  margin-bottom: 1.5rem; }

.bar-name {
  width: 21%;
  /* background-color: #49a5bf; */
  /*background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);*/
  background-image: linear-gradient(to right, #1d8353 0%, #5d4157 100%);
  /* background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%); */
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-bar-fill {
  width: 100%;
  height: 100%; }

.bar-fill {
  height: 100%;
  /*background-image: linear-gradient(to top, #a18cd1 0%, #8ed8f5 100%);*/
  /*background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);*/
  background-image: linear-gradient(to top, #284770 0%, #708a9c 100%); }

@media (min-width: 1920px) {
  .skills-bar {
    height: 5rem; }
  .bar-name {
    font-size: 2rem; } }

@media (max-width: 1366px) {
  .container {
    width: 60%; } }

/* LOGO */
.logo-container {
  width: 50%;
  height: 10rem;
  position: absolute;
  top: 85%;
  left: 53%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center; }

.logo {
  width: 8rem;
  height: 8rem;
  margin: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.htmlcssjs {
  background-image: url("../img/js.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.wordpress-logo {
  font-size: 6.5rem;
  color: #0a496d;
  box-shadow: 0 0 6rem #278eca, inset 0 0 6rem #91c0db; }

.react-logo {
  font-size: 6.5rem;
  color: #03f4fc;
  margin-bottom: -0.5rem;
  box-shadow: 0 0 6rem #35dfe8, inset 0 0 6rem #35dfe8; }

@media (min-width: 1920px) {
  .logo {
    width: 8.5rem;
    height: 8.5rem; }
  .wordpress-logo {
    font-size: 7.5rem; }
  .react-logo {
    font-size: 7.5rem; } }

/* HEADER */
.header {
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite; }

@keyframes gradientBG {
  0% {
    background-position: 50% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 50% 0%; } }

/* SECTION ABOUT */
.section-about {
  width: 100%;
  padding-bottom: 3rem;
  position: relative;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); }

/* SECTION PROJECT */
.section-project {
  width: 100%;
  height: 208rem;
  position: relative;
  background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  z-index: 10; }

/* SECTION CONTACT */
.section-contact {
  width: 100%;
  height: 78rem;
  margin-top: -16rem;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  position: relative;
  z-index: 2; }

.position-contact {
  width: 100%;
  position: absolute;
  top: 5rem;
  left: 0; }

/* FOOTER */
.footer {
  width: 100%;
  height: 10rem;
  background-color: #373b4d;
  position: relative; }

.header-text-box {
  width: 70%;
  height: 40rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }

@keyframes Gradient {
  0% {
    background-position: 40% 50%; }
  50% {
    background-position: 25% 50%; }
  100% {
    background-position: 40% 50%; } }

.header-text {
  font-family: 'Righteous', cursive;
  background-image: url(https://media.giphy.com/media/2tMuOCL17ObOPNBdfV/giphy.gif);
  background-size: cover;
  color: transparent;
  text-shadow: white;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text; }

.border {
  padding: 0;
  margin-left: 5rem;
  background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #C5E7D7 34%, #88d8b0 34%);
  background-size: 400% 400%;
  height: 40rem;
  background-position: 25% 50%;
  animation: Gradient 15s ease infinite;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem; }

.inner {
  padding: 2rem;
  background-color: #ff6f69;
  /*#ff6f69*/
  margin: 3rem;
  border-radius: 3rem;
  width: 100%;
  height: 35rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

@keyframes shad-anim {
  0% {
    background-position: 0 0; }
  0% {
    background-position: 100% -100%; } }

.heading-main {
  font-size: 5rem;
  letter-spacing: 1rem; }

.heading-sub {
  font-size: 3rem;
  letter-spacing: 0.8rem;
  margin-top: 3rem; }

@media (min-width: 1920px) {
  .heading-main {
    font-size: 6rem;
    letter-spacing: 1.5rem; }
  .heading-sub {
    font-size: 3.5rem;
    letter-spacing: 1rem; } }

/* ABOUT HEADER PART */
.about-header {
  width: 100%;
  height: 18rem;
  margin-bottom: 3rem;
  text-align: center;
  position: relative; }

.about-title {
  font-size: 5rem;
  color: #FFF;
  text-shadow: 1px 1px #FF8040, 2px 2px #FF8040, 3px 3px #FF8040;
  font: Bold 5rem; }

.about-bar {
  width: 12rem;
  height: 4px;
  position: absolute;
  top: 70%;
  left: 51%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to right, white, #FF8040); }

@media (min-width: 1920px) {
  .about-title {
    font-size: 6rem; }
  .about-bar {
    top: 75%; } }

/* DESCRIPTION */
.about-desc {
  width: calc(100% - 14%);
  padding: 3rem 0 3rem 0;
  margin-left: 7%;
  border-radius: 20rem 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  transform: skewY(-5deg);
  box-shadow: 0 0 60px #7ac2d8, inset 0 0 60px #367e88;
  overflow: hidden; }

.profile-picture {
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background-image: url("../img/Profile_picture.jpg");
  background-position: 30% 50%;
  transform: skewY(5deg);
  margin-right: 2rem; }

.about-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  line-height: 5.5rem;
  color: #27302f;
  transform: skewY(5deg);
  margin-top: 2rem;
  margin-left: 5rem; }

@media (min-width: 1920px) {
  .about-text {
    font-size: 2.8rem;
    line-height: 6rem; }
  .profile-picture {
    width: 45rem;
    height: 45rem;
    background-position: 20% 60%; } }

@media (max-width: 1440px) {
  .about-text {
    line-height: 5rem; } }

/*@media only screen and (max-width: 1200px) {
    .about-header {
        margin-bottom: 0rem;
    }

    .about-desc {
        width: 100%;
        margin-left: 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: none;
        box-shadow: none;
        
    }

    .profile-picture {
        width: 40rem;;
        height: 40rem;
        margin-bottom: 4rem;
        margin-right: 0rem;
        margin-left: 2rem;
        background-position: 25% 50%;
    }

    .about-text {
        width: 60%;
        margin-left: 2rem;
        font-size: 2.5rem;
        line-height: 6rem;  
    }
}

@media only screen and (max-width: 1000px) {
    .about-text {
        width: 70%;
        margin-left: 0rem;
    }
}

@media only screen and (max-width: 850px) {
    .about-desc {
        width: 100%;
        margin-left: 0rem;
    }

    .profile-picture {
        width: 35rem;;
        height: 35rem;
    }
}

@media only screen and (max-width: 700px) {
    .about-text {
        width: 80%;
    }
}

@media only screen and (max-width: 414px) {
    .profile-picture {
        width: 30rem;;
        height: 30rem;
        background-position: 30% 35%;
    }
}

@media only screen and (max-width: 375px) {
    .profile-picture {
        width: 25rem;;
        height: 25rem;
        background-position: 35% 35%;
        margin-bottom: 2rem;
    }

    .about-text {
        width: 95%;
        margin-left: 2rem;
        line-height: 4rem;  
        padding-bottom: 5rem;
        font-size: 2.2rem;
    }
}*/
/* SKILLS PART */
.skills {
  width: 100%;
  margin-top: 10rem;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.skills-heading {
  width: 100%;
  height: 5rem;
  color: black;
  text-shadow: 1px 1px #f0e5e5, 2px 2px white, 3px 3px white;
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem; }

@media (min-width: 1920px) {
  .skills-heading {
    font-size: 4rem; } }

.project-header {
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
  position: relative; }

.project-title {
  color: #FFF;
  text-shadow: 1px 1px #FF8040, 2px 2px #FF8040, 3px 3px #FF8040;
  font: Bold 5rem;
  font-size: 4rem; }

.project-bar {
  width: 12rem;
  height: 4px;
  position: absolute;
  top: 70%;
  left: 52%;
  transform: translate(-50%, -50%);
  /* background-image: linear-gradient(to right, #7ac2d8, #367e88); */
  background-image: linear-gradient(to right, white, #FF8040); }

@media (min-width: 1920px) {
  .project-title {
    font-size: 5rem; }
  .project-bar {
    top: 75%; } }

.contact-header {
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
  position: relative; }

.contact-title {
  font-size: 4rem;
  color: #a3c2c2;
  text-shadow: 1.5px 1.5px #141f1f, 2.5px 2.5px #141f1f, 3.5px 3.5px #141f1f;
  font: Bold 5rem; }

.contact-bar {
  width: 12rem;
  height: 4px;
  position: absolute;
  top: 70%;
  left: 52%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(#a3c2c2, #141f1f); }

.contact-text {
  height: 5rem;
  color: #f3ecec;
  font-size: 2rem;
  text-align: center; }

.socialmedia {
  width: 50rem;
  height: 7rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.icon {
  font-size: 5rem;
  color: #967e7e;
  margin-right: 5rem;
  margin-left: 3rem; }

.copyright {
  margin-top: -0.5rem;
  font-size: 2rem;
  text-align: center; }
