 /* HEADER */

.header {
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

  /* SECTION ABOUT */

.section-about {
    width: 100%;
    padding-bottom: 3rem;
    position: relative;
    background-image: linear-gradient(to right, #bbc1bf 0%, #57c6e1 42%, #b49fda 100%);
}


/* SECTION PROJECT */
.section-project{
    width: 100%;
    height: 245rem;
    position: relative;
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    z-index: 10;
}

@include respond(desktop-displays) { // width >= 1680px  
    .section-project {
        height: 255rem;
    }
}

@include respond(big-desktop) { // width >= 1920px  
    .section-project {
        height: 260rem;
    }
}

@include respond(laptop-displays) { // width <= 1440px  
    .section-project {
        height: 250rem;
    }
}

@include respond(tablet-landscape) { // width <= 1112px  
    .section-project {
        height: 390rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    }
}

@include respond(tablet-portrait-pro) { // width <= 1024px  
    .section-project {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    }
}

@include respond(tablet-portrait) { // width <= 834px  
    .section-project {
        height: 395rem;
    }
}

@include respond(tablet-portrait-s) { // width <= 768px 
    .section-project {
        height: 360rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
    }
}

@include respond(mobile-landscape-ml) { // width <= 600px 
    .section-project {
        height: 370rem;
    }
}

@include respond(mobile-landscape-m) { // width <= 516px  
    .section-project {
        height: 365rem;
       
    }
}

@include respond(mobile-portrait-m) { // width <= 414px  
    .section-project {
        height: 335rem;
    }
}

@include respond(mobile-portrait-s) { // width <= 375px  
    .section-project {
        height: 338rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 99%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 99%, 0 100%);
    }
}

@include respond(mobile-portrait-xs) { // width <= 320px
    .section-project {
        height: 320rem;
    }
}

/* SECTION CONTACT */
.section-contact {
    width: 100%;
    height: 121rem;
    margin-top: -18rem;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    position: relative;
    z-index: 2;
}

.position-contact {
    width: 100%;
    position: absolute;
    top: 11rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@include respond(tablet-landscape) { // width <= 1112px  
    .position-contact {
        top: 13rem;
    }
}

@include respond(tablet-portrait-pro) { // width <= 1024px  
    .position-contact {
        top: 14rem;
    }
}

@include respond(tablet-portrait) { // width <= 834px  
    .position-contact {
        top: 14rem;
    }
}

@include respond(tablet-portrait-s) { // width <= 768px 
    .position-contact {
        top: 18rem;
    }
}


@include respond(mobile-portrait-m) { // width <= 414px  
    .position-contact {
        top: 20rem;
    }
}

@include respond(mobile-portrait-xs) { // width <= 320px
    .section-contact {
        height: 120rem;
    }
}


/* FOOTER */
.footer {
    width: 100%;
    height: 18rem;
    background-color: rgb(55, 59, 77);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

@include respond(mobile-portrait-m) { // width <= 414px  
    .footer {
        height: 20rem;
    }
}