 /* HEADER */

.header {
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}


  /* SECTION ABOUT */

.section-about {
    width: 100%;
    padding-bottom: 3rem;
    position: relative;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}


/* SECTION PROJECT */
.section-project{
    width: 100%;
    height: 215rem;
    position: relative;
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    z-index: 10;
}

@include respond(tablet-landscape) { // width <= 1112px  
    .section-project {
        height: 230rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
}

@include respond(mobile-landscape) { // width <= 768px  
    .section-project {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    }
}

/* SECTION CONTACT */
.section-contact {
    width: 100%;
    height: 78rem;
    margin-top: -16rem;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    position: relative;
    z-index: 2;
}

.position-contact {
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@include respond(tablet-landscape) { // width <= 1112px  
    .position-contact {
        top: 11rem;
    }
}

@include respond(mobile-landscape) { // width <= 768px  
    .position-contact {
        
    }
}


/* FOOTER */
.footer {
    width: 100%;
    height: 10rem;
    background-color: rgb(55, 59, 77);
    position: relative;
}