/* BUTTON CLICK ME */

.btn-click {
    text-decoration: none;
    font-size: 2rem;
    /* text-align: center; */
    width: 15rem;
    height: 5rem;  
    margin-top: 5rem;
    font-size: 2rem; 
    color: #d3d7de;
    /*background: linear-gradient(from top to bottom, #cfae88 0%, #da9d2c 100%);*/
    /* box-shadow: 0 0 60px #5b7979, inset 0 0 60px #5b7e7d; */
    box-shadow: 0px 5px 40px -5px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 5px 40px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -5px rgba(0,0,0,0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

@include respond(big-desktop) { // width >= 1920px  
    .btn-click {
        font-size: 2.2rem;
        width: 16rem;
        height: 6rem;  
        margin-top: 4rem;
    }
}

@include respond(tablet-landscape) { // width <= 1112px  
    .btn-click {
        font-size: 2.3rem;
        width: 15.5rem;
        height: 5.5rem; 
        margin-top: 3rem;
    }
}
  
  .btn-click:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    /* box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); */
    border: 2px solid #91c0c0;
    /*box-shadow: 0 0 60px #23d5ab, inset 0 0 60px #ee7752;*/
    /* box-shadow: 2px 3px rgb(54, 51, 51); */
    border-radius: 2rem;
    transition: all 0.3s ease 0s;
    
}
  
  .btn-click:active {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    border: 2px solid #91c0c0;
    /*box-shadow: 0 0 60px #5b7979, inset 0 0 60px #5b7e7d;*/
    transform: translateY(5px);
}


/* BUTTON VIEW & GITHUB */

.btn {
    width: 30rem;
    margin-left: -2rem;  
 }

@include respond(tablet-landscape) { // width <= 1112px  
    .btn {
        margin-left: -5rem;
    }
}

@include respond(mobile-landscape) { // width <= 768px  
    .btn {
        margin-left: 0;
    }
}

@include respond(mobile-portrait-plus) { // width <= 414px      
    .btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    .btn::before, .btn::after {
    content: '';
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.75);
    }

    .btn::before {
        width: 12rem;
        height: .3rem;
        border-radius: .8rem;
    }

    .btn::after {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        bottom: -5.5rem;
    }
}


/* BUTTON VIEW */

.btn-view {
    width: 11rem;
    height: 5rem;
    margin-bottom: 2rem; 
    border: 2px solid;
    border-radius: .7rem;
    cursor: pointer;
    outline: 0;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);  
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.btn-view:hover {
    box-shadow: 2px 3px rgb(51, 49, 49);
}

.btn-view:active {
    transform: translateY(2px);
}
  
.btn-view.red {
    background: #d02e17;
    border-color: #942110 #902010 #741a0d;
    background-image: -webkit-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: -moz-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: -o-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: linear-gradient(to bottom, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
}

  .btn-view.red:before {
    background: #ee442c;
    background-image: -webkit-linear-gradient(top, #b32511, #f3533c);
    background-image: -moz-linear-gradient(top, #b32511, #f3533c);
    background-image: -o-linear-gradient(top, #b32511, #f3533c);
    background-image: linear-gradient(to bottom, #b32511, #f3533c);
}
  
  .btn-view.red:active {
    background: #e63b1b;
    background-image: -webkit-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: -moz-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: -o-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: linear-gradient(to bottom, #a9110b 0%, #de3819 60%, #e63b1b 100%);
}
  
  .btn-view.red:active:after {
    border-color: #e63b1b;
}

@include respond(mobile-portrait-plus) { // width <= 414px  
    .btn-view {
        margin-bottom: 0;
    }
}


/* BUTTON GITHUB */

  .btn-link {
    width: 11rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 36, 28);
    border: 2px solid rgb(202, 48, 48);
    border-radius: .7rem;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFF;
}
 
.btn-link:hover {
    background-color: #DA4F49;
    border-color: 2px solid #DA4F49;
    box-shadow: 2px 3px rgb(51, 49, 49);    
}

.btn-link:active {
    background-color: #B32C24;
    border-color: 2px solid #DA4F49;
    transform: translateY(2px);
}


/* BUTTON SEND */

.btn-send {
  width: 12rem;
  height: 4.5rem;
  font-size: 2rem;
  border-radius: 4px;
  background: linear-gradient(to right, rgb(127, 192, 184), rgb(27, 180, 162));
  border: none;
  box-shadow: 0px 5px 40px -5px rgba(0,0,0,0.57);
  color: #FFFFFF;
  transition: all 0.4s;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s;
  float: right;
}

.btn-send:hover {
  box-shadow: 4px 8px #3a7999;
}

.btn-send:active {
  transform: translateY(3px);
  box-shadow: 5px 9px #3a7999;
}

@include respond(tablet-landscape) { // width <= 1112px  
    .btn-send {
        margin-top: 0;
    }
}


/* UP ARROW BUTTON */

.up-arrow {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: -28%;
  right: 8%;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  /* background-image: linear-gradient(to top, #639ddf 0%, #fbc2eb 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3; 
  animation: shadow-pulse 1.2s infinite;
}

.up-arrow:hover .arrow-icon {
  animation: bounceAlpha 0.8s infinite;
  cursor: pointer;
}

.arrow-icon {
  font-size: 2.5rem;
  color:   #702970;
  /* color: #295070; */
  text-shadow: 1px 1px 8px white;
}