/* LOGO */
.logo-container {
    width: 50%;
    height: 10rem;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .logo {
    margin: 8rem;
  }
  
  .htmlcssjs {
    width: 8rem;
    height: 7rem;
  }
  
  .wordpress-logo {
    font-size: 6.5rem;
    color: #0a496d;
    box-shadow: 0 0 6rem #278eca, inset 0 0 6rem #91c0db;
   
  }
  
  .react-logo {
    font-size: 6.5rem;
    color: #03f4fc;
    margin-bottom: -0.5rem;
    box-shadow: 0 0 6rem #35dfe8, inset 0 0 6rem #35dfe8;
  }

  @include respond(big-desktop) { // width >= 1920px  
    .wordpress-logo {
        font-size: 7.5rem;
    }

    .react-logo {
        font-size: 7.5rem;
    }
}

@include respond(tablet-landscape) { // width <= 1112px  
    .logo-container {
        width: 70%;
    }
}  

@include respond(tablet-portrait-m) { // width <= 918px  
    .logo-container {
        width: 85%;
    }

    .logo {
        margin: 7rem;
    }
}

@include respond(tablet-portrait-sx) { // width <= 700px  
    .logo-container {
        width: 90%;
        left: 50%;
    }

    .logo {
        margin: 5rem;
    }

    .htmlcssjs {
        width: 6.5rem;
        height: 6.5rem;
    }
}

@include respond(mobile-landscape-m) { // width <= 516px 
    .logo-container {
        width: 100%;
    }

    .logo {
        margin: 4rem;
    }

    .wordpress-logo {
        font-size: 5rem;
    }

    .react-logo {
        font-size: 5rem;
    }

    .htmlcssjs {
        width: 6rem;
        height: 6rem;
    }
}

@include respond(mobile-portrait-m) { // width <= 414px  
    .logo {
        margin: 4.5rem;
    }

    .htmlcssjs {
        width: 5rem;
        height: 5rem;
    }
}

@include respond(mobile-portrait-s) { // width <= 375px  
    .logo {
        margin: 4rem;
    }

    .react-logo {
        font-size: 5rem;
        margin-left: -1rem;
    }

    .wordpress-logo {
        font-size: 5rem;
    }

    .htmlcssjs {
        width: 5.5rem;
        height: 5.5rem;
    }
}

@include respond(mobile-portrait-xs) { // width <= 320px
    .logo {
        margin: 3rem;
    }

    .react-logo {
        font-size: 4.5rem;
    }

    .wordpress-logo {
        font-size: 4.5rem;
    }

    .htmlcssjs {
        width: 5rem;
        height: 5rem;
    }
}