/* PROJECT CARD CONTAINER */

.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* EVERY PROJECT CARD */

.card {
    width: 90%;
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-view {
    width: 55%;
    height: 35rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-style {
    width: 25rem;
    height: 15rem;
    background-size: cover;
    background-position: center;
    position: absolute;
    border: 0.2rem solid rgb(88, 6, 10);
}

.img-1 {
    top: 60%;
    left: 40%;
    transform: translate(-50%,-50%);
    z-index: 50;
}

.img-2 {
    top: 40%;
    left: 65%;
    transform: translate(-50%,-50%);
    z-index: 30;
}

.img-3 {
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
    z-index: 10;
}


/* PROJECT DESCRIPTION */

.card-desc {
    width: 35%;
    font-size: 2rem;
    margin-left: 10rem;
    color: black;
    padding: 2rem 0 10rem 0;
    text-align: center;
   
}

.card-title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: rgb(158, 42, 48);
}

@include respond(desktop-displays) { // width >= 1680px  
    .card-desc {
        font-size: 2.2rem;
    }
}

@include respond(laptop-displays) { // width <= 1440px  
    .card-img {
        width: 80%;
    }
}

@include respond(tablet-landscape) { // width <= 1112px  
    .card {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 3rem 0;
    }

    .project-view {
        width: 100%;
        order: 1;
    }

    .card-img {
        width: 60%;
        margin: 0 0 0 -5rem;
    }

    .img-1 {
        top: 60%;
    }

    .img-2 {
        top: 40%;
        left: 60%;
    }

    .card-desc {
        width: 90%;
        padding: 0;
        margin: 0 0 5rem 3rem;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
    }
}

@include respond(tablet-portrait-pro) { // width <= 1024px 
    .img-1 {
        top: 65%;
    }
}

@include respond(tablet-portrait) { // width <= 834px  
    .card-img {
        margin: 0 3rem 0 -2rem;
    }

    .card-desc {
        margin: 0 0 8rem 3rem;
    }

    .img-1 {
        top: 60%;
    }
}

@include respond(tablet-portrait-s) { // width <= 768px 
    .card {
        margin: 0 0 4rem 0;
    }

    .card-title {
        font-size: 3.5rem;
    }

    .img-style {
        width: 25rem;
        height: 15rem;
    }

    .img-2 {
        left: 65%;
    }

    .card-desc {
        width: 80%;
        margin: 0 0 1rem 0;
        font-size: 2rem;
    }
}

@include respond(mobile-landscape-m) { // width <= 516px  
    .card {
        margin: 0;
    }

    .img-style {
        width: 18rem;
        height: 11rem;
    }

    .img-1 {
        top: 54%;
    }

    .img-2 {
        top: 38%;
        left: 70%;
    }
}

@include respond(mobile-portrait-m) { // width <= 414px  
    .card {
        margin: 0 0 10rem 0;
    }

    .card-desc {
        width: 100%;
        padding: 0 4rem;
        margin: 0 0 2rem 0;
    }

    .card-title {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    .project-view {
        flex-direction: column;
    }

    .card-img {
        width: 100%;
        height: 80%;
        margin: 0 0 0 2rem;
        
    }

    .img-1 {
        top: 55%;
    }
}

@include respond(mobile-portrait-xs) { // width <= 320px
    .card {
        margin-bottom: 4rem;
    }

    .card-title {
        font-size: 3rem;
    }

    .project-view {
        justify-content: flex-start;
    }

    .card-desc{
        font-size: 1.5rem;
    }

    .img-style {
        width: 15rem;
        height: 9rem;
    }

    .card-img {
        height: 60%;
    }

    .img-2 {
        left: 65%;
    }
}

/* LINE BREAK */
.line-break {
    width: 15rem;
    height: .6rem;
    border-radius: .8rem;
    background: rgb(240, 232, 232);
   position: relative;
   z-index: 10;
}

.line-break::before {
    content: '';
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    background: rgb(253, 253, 253);
    position: absolute;
    top: -130%;
    left: 43%;
    z-index: 0;
}

@include respond(tablet-landscape) { // width <= 1112px
    .line-break {
        margin-bottom: 7rem;
    }
}

@include respond(mobile-portrait-m) { // width <= 414px
    .line-break {
        visibility: hidden;
        margin-bottom: 0;
    }
}