/* HAMBURGER BUTTON */
.ham-btn {
    position: fixed;
    top: 3%;
    right: 20%;
    width: 6rem;
    height: 5rem;
    padding: .4rem .8rem;
    background: #364652;
    z-index: 200;
    visibility: hidden;
}

.ham-btn span {
    width: 100%;
    height: .4rem;
    display: block;
    background: #fff;
    margin: .7rem 0;
    transition: .5s;
}

.toggle-menu {
    width: 100%;
    height: 100vh;
    background: #364652;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 101;
   opacity: 0.5;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    position: absolute;
}

.toggle-menu a {
    color: #fff;
    font-size: 3.5rem;
}

.ham-btn.active span {
    position: absolute;
    width: calc(100% - 1.6rem);
    top: calc(50% - .8rem);
}

.ham-btn.active span:nth-child(1) {
    transform: rotate(45deg);
}

.ham-btn.active span:nth-child(3) {
    transform: rotate(-45deg);
}

.ham-btn.active span:nth-child(2) {
    display: none;
}

.toggle-menu.active {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
}

@include respond(mobile-portrait-plus) { // width <= 414px  
    .ham-btn {
        visibility: visible;
    }
}