/* ABOUT HEADER PART */

.about-header {
    width: 100%;
    height: 18rem;
    margin-bottom: 3rem;
    text-align: center;
    position: relative; 
}

.about-title {
    font-size: 4.5rem;
    color: #FFF;
    text-shadow: 1px 1px rgb(114, 108, 108), 2px 2px rgb(92, 89, 89), 3px 3px black;
    font: Bold 5rem;
}

.about-bar {
    width: 11rem;
    height: .4rem;
    position: absolute;
    top: 72%;
    left: 52%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to right, white, rgb(114, 108, 108));
}

@include respond(big-desktop) { // width >= 1920px  
    .about-title {
        font-size: 6rem;
    }

    .about-bar {
        top: 75%;
    }
}

@include respond(tablet-landscape-pro) { // width <= 1366px  
    .about-header {
        margin-bottom: 6rem;
    }
}

@include respond(tablet-landscape) { // width <= 1112px  
    .about-header {
        margin-bottom: 2rem;
    }
}

@include respond(mobile-portrait-m) { // width <= 414px  
    .about-header {
        height: 15rem;
        margin-bottom: 0;
    }

    .about-title {
        font-size: 4rem;
    }

    .about-bar {
        width: 10rem;
        height: .3rem;
        left: 55%;
    }

}

/* DESCRIPTION */

.about-desc { 
    max-width: calc(100% - 20%);
    padding: 3rem 0 3rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    opacity:0;  // for animation page scrolling
    margin-left:-30rem; 
}

.profile-picture {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    box-shadow: 0 0 60px #7ac2d8, inset 0 0 60px #367e88;
    background-image: url("../img/Profile_picture.jpg");
    background-position: 30% 45%;
}

.about-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 4rem;
    color: black;
}

@include respond(big-desktop) { // width >= 1920px  
    .about-text {
        font-size: 2.8rem;
        line-height: 6rem;
    }

    .profile-picture {
        width: 45rem;
        height: 45rem;
        background-position: 20% 60%;
    }
}

@include respond(desktop-displays) { // width >= 1680px  
    .about-text {
        font-size: 2.2rem;
        margin-top: 2rem;
    }
}

@include respond(laptop-displays) { // width <= 1440px  
    .about-text {
        line-height: 5rem;
    }
}

@include respond(tablet-landscape-pro) { // width <= 1366px  
    .about-desc {
        width: calc(100% - 10%);
        margin-left: 5%;
    }

    .about-text {
        font-size: 2.1rem;
        line-height: 4.5rem;
    }
} 

@include respond(tablet-landscape) { // width <= 1112px  
    .about-desc {
        width: 100%;
        margin-left: 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-picture {
        width: 40rem;
        height: 40rem;
        margin: 0 0 5rem 2rem;
        background-position: 25% 50%;
        transform: skewY(0deg);
    }

    .about-text {
        width: calc(100% - 8rem);
        margin-left: 4rem;
        font-size: 2.5rem;
        line-height: 6rem;  
        transform: skewY(0deg);
    }
}

@include respond(tablet-portrait) { // width <= 834px  
    .about-text {
        width: calc(100% - 6rem);
        margin-left: 3rem;
    }
}

@include respond(tablet-portrait-s) { // width <= 768px  
    .about-text {
        width: calc(100% - 4rem);
        margin-left: 2rem;
    }
}

@include respond(mobile-landscape-ml) { // width <= 600px  
    .about-text {
        width: 100%;
        margin-left: 0;
        line-height: 5rem;
        font-size: 2.2rem;
    }

    .profile-picture {
        width: 35rem;
        height: 35rem;
        background-position: 25% 45%;
    }
}

@include respond(mobile-landscape-m) { // width <= 516px  
    .profile-picture {
        width: 30rem;
        height: 30rem;
        background-position: 30% 40%;
    }

    .about-text {
        font-size: 2.3rem;
        line-height: 5rem;
    }
}

@include respond(mobile-portrait-m) { // width <= 414px  
    .profile-picture {
        width: 25rem;;
        height: 25rem;
        background-position: 35% 35%;
        margin-left: 0rem;
    }

    .about-text {
        font-size: 2rem;
        line-height: 4rem; 
        margin: 0;
    }
}

@include respond(mobile-portrait-xs) { // width <= 320px
    .profile-picture {
        width: 20rem;;
        height: 20rem;
        background-position: 36% 31%;
        margin-bottom: 4rem;
    }

    .about-text {
        width: 90%;
    }
}


/* SKILLS PART */

.skills {
    width: 100%;
    margin-top: 8rem;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.skills-heading {
    max-width: 100%;
    height: 5rem;
    color: black;
    text-shadow: 1px 1px rgb(240, 229, 229), 2px 2px white, 3px 3px white;
   
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;

    opacity: 0;
    margin-right:-300px; 
}

@include respond(big-desktop) { // width >= 1920px  
    .skills-heading {
        font-size: 4rem;
    }
}

@include respond(laptop-displays) { // width <= 1440px
    .skills-heading {
        font-size: 3.2rem;
    }
}

@include respond(tablet-landscape) { // width <= 1112px  
    .skills {
        margin-top: 2rem;
    }
} 

@include respond(mobile-portrait-m) { // width <= 414px  
    .skills-heading {
        font-size: 2.5rem;
        letter-spacing: 0.6rem;
    }
}