.contact-header {
    width: 100%;
    height: 20rem;
    margin-bottom: 3rem;
    position: relative;
}

.contact-title {
  font-size: 4rem;
  color: #a3c2c2;
  text-shadow: 1.5px 1.5px #141f1f, 2.5px 2.5px #141f1f, 3.5px 3.5px #141f1f;
  font: Bold 5rem;
}

.contact-bar {
    width: 12rem;
    height: 4px;
    position: absolute;
    top: 70%;
    left: 52%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(#a3c2c2, #141f1f);
}

.contact-text {
    height: 5rem;
    color: rgb(243, 236, 236);
    font-size: 2rem;
    text-align: center;
}

@include respond(tablet-landscape) { // width <= 1112px 
    .contact-header {
        height: 15rem;
    }
}

@include respond(mobile-portrait-m) { // width <= 414px  
    .contact-header {
        height: 12rem;
    }

    .contact-title {
        font-size: 3.5rem;
    }

    .contact-bar {
        top: 75%;
        left: 57%;
    }
}