.socialmedia {
    width: 50rem;

    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 5rem;
    color: rgb(150, 126, 126);
    margin-right: 5rem;
    margin-left: 3rem;
}

.copyright {
    margin-top: -0.5rem;
    font-size: 2rem;
    text-align: center;
}

@include respond(mobile-portrait-plus) { // width <= 414px  
   .socialmedia {
       width: 90%;
       margin-left: 2rem;
   }

   
}