.socialmedia {
    width: 50rem;

    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 5rem;
    color: rgb(150, 126, 126);
    margin-right: 5rem;
    margin-left: 3rem;
}

.copyright {
    font-size: 2rem;
    text-align: center;
}

.myCV {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    opacity: 0.5;
    margin: 1rem 0;
}

@include respond(mobile-portrait-m) { // width <= 414px  
   .socialmedia {
       width: 90%;
       margin-left: 2rem;
   }
}

@include respond(mobile-portrait-xs) { // width <= 320px  
    .icon {
        font-size: 4rem;
    }
 }