.project-header {
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
    position: relative;
}

.project-title {
    color: #FFF;
    text-shadow: 1px 1px rgb(189, 101, 106), 2px 2px rgb(158, 42, 48), 3px 3px rgb(168, 27, 34);
    font: Bold 5rem;
    font-size: 4rem;
}

.project-bar {
    width: 12rem;
    height: 4px;
    position: absolute;
    top: 70%;
    left: 52%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to right, white, rgb(158, 42, 48));
}

@include respond(big-desktop) { // width >= 1920px  
    .project-title {
        font-size: 5rem;
    }

    .project-bar {
        top: 75%;
    }
}

@include respond(tablet-landscape) { // width <= 1112px  
    .project-header {
        margin-bottom: 2rem;
    }
}

@include respond(mobile-portrait-plus) { // width <= 414px  
    .project-header {
        height: 15rem;
    }

    .project-title {
        font-size: 3.5rem;
    }

    .project-bar {
        width: 11rem;
        top: 71%;
        left: 55%;
    }
}